
/* paleta: https://color.adobe.com/pt/search?q=purple%20blue */

:root{
    --bg:black;

    --color1:#012340;
    --color2:#034C8C;
    --color3:#0468BF;
    --color4:#A303A6;
    --color5:#590253;
}

