
/* paleta: https://color.adobe.com/pt/search?q=purple%20blue */

@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik+Mono+One&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root{
    --bg:white;

    --color1:#002975;
    --color2:#0468BF;
    --color3:#c000c4;
    --color4:#590253;

    --fontMain: 'Rubik Mono One','monospace';
    --fontTitle: 'Tinos', 'serif';
    --fontText: 'Roboto', 'Arial', 'sans-serif';
}

html{
    background-color: var(--bg);
    color: var(--color1);

    font:normal normal 18px var(--fontText);
}

h1, h2, h3{
    text-align: center;
    font-family: var(--fontTitle);
    color: var(--color4);
}

h1, h2{
    display: inline-block;
    color: var(--color3);
}

h1{
    margin-left: 1em;
    margin-right: 1em;
    font-family: var(--fontMain);
    font-weight: 100;
    font-size: 1.8em;
    
}

h2{
    font-size: 1.4em;

}

h3{
    font-size: 1.2em;
}

p{
    font:normal normal 1em var(--fontText);

    line-height: 1.5;
    text-indent: 1em;
}

li{
    margin: 1em;
    text-align: center;
    list-style: none;
}

abbr{
    font-variant: small-caps;
}

#zen-intro header{
    background-color: var(--color1);
    color: var(--color3);
} 

#design-archives{
    display: none;
}

.intro{
    height: 550px;
}

.page-wrapper{
    position: relative;
    margin: auto;
    width: 80%;
    max-width: 1280px;
}

.summary{
    text-align: center;
}

.main p{
    line-height: 1.5;
}

.main footer{
    margin: 4%;
}

.main footer a{
    display: inline-block;
    padding: 0.5em;
    border: 2px solid var(--color3);
}

.explanation{
    width: 60%;
    margin-right: 35%;
    padding-right: 2%;

    border-right: 1px solid #1f295c;
}

.design-selection{
    position: absolute;

    top: 550px;
    left: 62%;

    padding: 0px 2%;
}

